
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Proyectos</h1>
          <span class="color-text-a">A continuación le presentamos la lista de nuestros proyectos</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            
            <li class="breadcrumb-item">
              <%= link_to 'Lista Proyectos', listaproyectos_proyecto_path(@proyectos), :class => "btn btn-warning" %>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <%= link_to 'Nuevo Proyecto', new_proyecto_path, :class => "btn btn-warning" %>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-4">
    <!--<%= link_to 'Nuevo Proyecto', new_proyecto_path, :class=> "btn btn-warning" %>-->
  </div>

  <div class="col-8">    
    <%= form_tag proyectos_path, :method => "get", :class => "form-inline" do %>
      <div class="form-group">
        <label>Nombre Proyecto:</label>
        <%= text_field_tag :nombre, params[:nombre], :class => "form-control mx-sm-3" %>
      </div>
      <div class="form-group">
        <label>Distrito:</label>
        <%= text_field_tag :distrito, params[:distrito], :class => "form-control mx-sm-3" %>
      </div>
      <div class="form-group">
        <%= submit_tag 'Buscar', name: nil, :class => "btn btn-success" %>
      </div>
    <% end %>
    
  </div>

</div>

<hr>
<div class="container">
  <!-- primero queremos dividirlo en 3 para saber cuantas veces se crea -->
  <% n = @proyectos.count/3 %>
  <% count = 0 %>
  <% n.downto(0) do %>
    <!-- Creamos la fila -->
    <div class="row">
      <!-- Creamos maximo 3 columnas y sale -->
      <% 4.downto(0) do |i| %>
        <!-- Verificamos que el  count no sea mayor a la cantidad de proyectos para evitar error -->
        <% if count == @proyectos.count %>
          <% break %>
        <% end %>
        <!-- Obtenemos el proyectos que toca -->
        <% proyectos = @proyectos[count] %>
        <!-- Utilizamos el proyectos -->
        <div class="card">
          <%= image_tag(proyectos.avatar.url, style: 'height:400px;width:367px;', alt: 'Avatar') if proyectos.avatar? %>
          <div class="card-body">      
            <h4 class="card-title">Proyecto: <span class="color-d"><%= proyectos.nombre %> </span></h4>
            <h5 class="card-text">Distrito: <span class="color-d"><%= proyectos.distrito %></span></h5>
            <p class="card-text"><span class="color-d"><%= proyectos.descripcion %></span></p>
            <%= link_to("Ver Departamentos",  departamentos_path(:proyecto_id => proyectos.id), :class => "btn btn-outline-success active") %>
          </div>
        </div>
        <!-- Aumentamos la posición para que en la siguiente utilice el siguiente proyectos -->
        <% count += 1 %>
      <% end %>
    </div>
  <% end %>

</div>



