<p id="notice"><%= notice %></p>

    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Detalle Departamento</h1>
              <h4><span class="color-text-a">Departamento N°: <%= @departamento.numdpto %> - Piso: <%= @departamento.piso %> </span></h4>
              <span class="color-text-a"><%= @detalle_departamentos.ubicacion %></span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <%= link_to('Mostrar', detalle_departamento_path(@detalle_departamentos,:departamento_id => @departamento.id), :class=> "btn btn-warning") %>
                </li>
                 <li class="breadcrumb-item">
                  <%= link_to('Editar', edit_detalle_departamento_path(@detalle_departamentos,:departamento_id => @departamento.id), :class=> "btn btn-warning") %>
                </li>
                </li>
                 <li class="breadcrumb-item">
                  <%= link_to('Eliminar', detalle_departamento_path(@detalle_departamentos,:departamento_id => @departamento.id), :class=> "btn btn-warning", method: :delete, data: { confirm: 'Está seguro?' }) %>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>


  <table class="table table-hover">
      <thead>
        <tr>
         <th>Suptotal</th>
          <th>Suptechada</th>
           <th>Banios</th>
          <th>Estacionamiento</th>
          <th>Banioservicio</th>
          <th>Ascensores</th>
          <th>Ambientes</th>
        </tr>
      </thead>
    

      <tbody>
        <tr>
            <td><%= @detalle_departamentos.supTotal %></td>
            <td><%= @detalle_departamentos.supTechada %></td>
            <td><%= @detalle_departamentos.banios %></td>
            <td><%= @detalle_departamentos.estacionamiento %></td>
            <td><%= @detalle_departamentos.banioServicio %></td>
            <td><%= @detalle_departamentos.ascensores %></td>
            <td><%= @detalle_departamentos.ambientes %></td>
        </tr>
      </tbody>

    </table>

    <table class="table table-hover">
      <thead>
        <tr>
         
         
          <th>Closet</th>
          <th>Recepcion</th>
          <th>Condominio</th>
          <th>Centrocomercial</th>
          <th>Cercacolegio</th>
          <th>Parque</th>
          <th>Intercomunicador</th>
          <th>Descambientes</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            
            
            <td><%= @detalle_departamentos.closet %></td>
            <td><%= @detalle_departamentos.recepcion %></td>
            <td><%= @detalle_departamentos.condominio %></td>
            <td><%= @detalle_departamentos.centroComercial %></td>
            <td><%= @detalle_departamentos.cercaColegio %></td>
            <td><%= @detalle_departamentos.parque %></td>
            <td><%= @detalle_departamentos.intercomunicador %></td>
            <td><%= @detalle_departamentos.descambientes %></td>
         </tr>
      </tbody>
    </table>




<br>
<%#= link_to 'New Detalle Departamento', new_detalle_departamento_path %>


        
     
        

  