<%= form_with(model: citation, local: true) do |form| %>
  <% if citation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(citation.errors.count, "error") %> prohibited this citation from being saved:</h2>

      <ul>
        <% citation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">

    <div class="row">
    <div class="col-4">
      <div class="field">
        <%= form.label :DNI , "DNI" %>
        <%= form.text_field :dni, { :class => "form-control form-control-lg form-control-a", :placeholder => "Ingrese su DNI" } %>
       </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="field">
      <%= form.label :Nombres %>
      <%= form.text_field :nombre, { :class => "form-control form-control-lg form-control-a", :placeholder => "Ingrese sus nombres" } %>
      </div>
    </div>
    <div class="col-4">
     <div class="field">
       <%= form.label :Apellidos %>
       <%= form.text_field :apellido, { :class => "form-control form-control-lg form-control-a", :placeholder => "Ingrese sus apellidos" } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="field">
        <%= form.label :Email %>
        <%= form.email_field :email, { :class => "form-control form-control-lg form-control-a", :placeholder => "Ingrese su email" } %>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-sm-4">
      <div class="field">
        <%= form.label :Telefono %>
        <%= form.text_field :telefono, { :class => "form-control form-control-lg form-control-a", :placeholder => "Ingrese su telefono" } %>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="field">
          <%= form.label :fechacita , "Fecha de cita" %>
          <br>
           <%= form.date_field :fechacita, :id => "datepicker" %>
           </div>
    </div>
  </div>

 <div class="row">
 <div class="col-sm-8">
  <div class="field">
    <%= form.label :mensaje, "Mensaje" %>
    <%= form.text_area :mensaje, { :class => "form-control form-control-lg form-control-a", :placeholder => "Ingrese su mensaje" } %>
  </div>
  </div>
 </div>

</div>


  <div class="actions">
    <%= form.submit "Enviar Datos", :class => "btn btn-success btn-lg" %>
  </div>


<% end %>

<script>
$("#datepicker").datepicker({format: "dd/mm/yyyy"});
</script>