<p id="notice"><%= notice %></p>

<h1>Citas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>DNI</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Fechacita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @citations.each do |citation| %>
      <tr>
        <td><%= citation.dni %></td>
        <td><%= citation.nombre %></td>
        <td><%= citation.apellido %></td>
        <td><%= citation.email %></td>
        <td><%= citation.telefono %></td>
        <td><%= citation.fechacita %></td>
        <td><%= link_to 'Mostrar', citation %></td>
        <td><%= link_to 'Editar', edit_citation_path(citation) %></td>
        <td><%= link_to 'Eliminar', citation, method: :delete, data: { confirm: 'Estas seguro de eliminar la cita?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Cita', new_citation_path %>
