

  <div class="field">
    <%= f.label :numdpto, "Número de departamento:"  %>
    <%= f.number_field :numdpto, :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.label :piso, "Piso:" %>
    <%= f.number_field :piso, :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.label :descripcion, "Características:" %>
    <%= f.text_area :descripcion, { :class => "form-control", :rows => "6" } %>
  </div>

  <div class="field">
    <%= f.label :precio, "Precio S/:" %>
    <%= f.text_field :precio, :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.label :area, "Área metros cuadrados:" %>
    <%= f.number_field :area, :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.label :numdormitorio, "Número de dormitorio:" %>
    <%= f.number_field :numdormitorio, :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.label :proyecto, "Proyecto:" %>
    <%= f.object.proyecto.nombre %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar departamento", :class => "btn btn-info"  %>
  </div>


