<h1>Editar Departamento</h1>

<%= form_for(@departamento, :url => departamento_path(:proyecto_id => @proyecto.id)) do |f| %>

	
	<%= render( :partial => "form", :locals => { :f => f }) %>

<%= render 'form', departamento: @departamento %>

<%= link_to 'Mostrar', @departamento, :class => "btn btn-warning" %> |
<%= link_to 'Atrás', departamentos_path, :class => "btn btn-warning" %>
