
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Listado de Departamentos</h1>
          <h4><span class="color-text-a">Proyecto: <%= @proyecto.nombre %> </span></h4>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <%= link_to 'Proyectos', proyectos_path, :class => "btn btn-warning" %>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <%= link_to('Nuevo departamento', new_departamento_path(:proyecto_id => @proyecto.id), :class => "btn btn-warning" )  %>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-2">
    <%# <%= link_to 'Nuevo Proyecto', new_proyecto_path, :class=> "btn btn-warning" %>
  </div>

  <div class="col-10" align="right">    
    <%# <%= form_tag departamentos_path, :method => "get", :class => "form-inline" do %>
    <%= form_tag departamentos_path, :method => "get", :class => "form-inline" do %>
      <div class="form-group">
        <label>Buscar por Nro de piso:</label>
        <%= text_field_tag :piso, params[:piso], :class => "form-control mx-sm-3" %>
      </div>
      <div class="form-group">
        <label>Buscar por Nro dormitorios:</label>
        <%= text_field_tag :numdormitorio, params[:numdormitorio], :class => "form-control mx-sm-3" %>
      </div>
      <div class="form-group">
        <%= submit_tag 'Buscar', name: nil, :class => "btn btn-success" %>
      </div>

      <div>
        <%= hidden_field_tag :proyecto_id , params[:proyecto_id] %>
      </div>

    <% end %>
    
  </div>

</div>

<hr>
<div class="container">

  <% n = @departamentos.count/3 %>
  <% count = 0 %>
  <% n.downto(0) do %>
    <!-- Creamos la fila -->
    <div class="row">
      <!-- Creamos maximo 3 columnas y sale -->
      <% 3.downto(0) do |i| %>
        <!-- Verificamos que el  count no sea mayor a la cantidad de proyectos para evitar error -->
        <% if count == @departamentos.count %>
          <% break %>
        <% end %>
        <!-- Obtenemos el proyectos que toca -->
        <% departamentos = @departamentos[count] %>
        <!-- Utilizamos el proyectos -->
        <div class="card">
          <%= image_tag(departamentos.foto.url, style: 'height:220px;width:275px;', alt: 'Foto') if departamentos.foto? %>
          <div class="card-body">
            <h4 class="card-title">Departamento: <%= departamentos.numdpto %></h4>
            <h6 class="card-text">Piso: <%= departamentos.piso %></h6>
            <h7 class="card-text">Precio $: <%= departamentos.precio %></h7>
            <p class="card-text">Dormitorios: <%= departamentos.numdormitorio %></p>
            <%= link_to('Ver Detalles', departamento_path(departamentos,:proyecto_id => @proyecto.id), :class => "btn btn-outline-success active") %>
          </div>
        </div>
        <!-- Aumentamos la posición para que en la siguiente utilice el siguiente proyectos -->
        <% count += 1 %>
      <% end %>
    </div>
  <% end %>

</div>






