<%= content_for :head do %>
	<title>Inicio</title>
<% end %>

<%= content_for :intro do %>
	
<% end %>

<br>
<div class="row">
    <div class="col-4">
        <h4>Búsqueda de Departamentos:</h4>
        <%= form_for :upc, :html => { :method => :post, :class => "needs-validation", :novalidate => "novalidate" }, :url => { :controller => "static", :action => "mimetodo" } do |f| %>
            <div class="form-group">
                <%= f.text_field :name, { :class => "form-control", :placeholder => "Por ubicación" } %>
            </div>
              
            <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1" value="Por Proyecto">
                    <option>Por proyecto</option>
                    <option>Ubicación 2</option>
                    <option>Ubicación 3</option>
                    <option>Ubicación 4</option>
                    <option>Ubicación 5</option>
                    </select>
            </div>

            <div class="form-group">
                <%= f.number_field :precio, { :class => "form-control", :placeholder => "Por precio" } %>
            </div>
            <div class="form-group">
                <%= f.number_field :area, { :class => "form-control", :placeholder => "Por área" } %>
            </div>
            <div class="form-group">
                <%= f.number_field :num_hab, { :class => "form-control", :placeholder => "Por número de habitaciones" } %>
            </div>
            <center><div class="form-group">
                <%= f.submit "Buscar", :class => "btn btn-success" %>
            </div> </center>           
        <% end %>
    </div>
    <div class="col-8">
        <div id="carousel_1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel_1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel_1" data-slide-to="1"></li>
                <li data-target="#carousel_1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img src="https://i.ibb.co/wKFVY5b/depa1.jpg" alt="Primer Slide" class="img-responsive" width="100%" height="500">      
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Departamento 1</h3>
                        <p>Descripcion Departamento 1</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="https://i.ibb.co/rdX0cCQ/depa2.jpg" alt="Segundo Slide" class="img-responsive" width="100%" height="500"> 
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Departamento 2</h3>
                        <p>Descripcion Departamento 2e</p>
                    </div>
                </div>

                <div class="carousel-item"> 
                    <img src="https://i.ibb.co/QHHT9b2/depa3.jpg" alt="Tercer Slide" class="img-responsive" width="100%" height="500"> 
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Departamento 3</h3>
                        <p>Descripcion Departamento 3</p>
                    </div>
                </div>
            </div>

            <a href="#carousel_1" class="carousel-control-prev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>

            <a href="#carousel_1" class="carousel-control-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>
