<%= content_for :head do %>
	<title>Login</title>
<% end %>

<%= content_for :intro do %>
	


<br><br><br><br>



<div class="row">
    <div class="offset-4 col-4">

        <div class="card">
            <h4 align="center">Iniciar Sesión</h4>
            <div class="card-body">
                <p>Ingrese sus credenciales:</p>
                <%= form_for :upc, :html => { :method => :post, :class => "needs-validation", :novalidate => "novalidate" }, :url => { :controller => "static", :action => "mimetodo" } do |f| %>
                    <div class="form-group">
                        <%= f.text_field :name, { :class => "form-control", :placeholder => "Usuario", :required => "required" } %>
                    </div>
                    <div class="form-group">
                        <%= f.text_field :lastname, { :class => "form-control", :placeholder => "Contraseña", :required => "required" } %>
                    </div>
                    <div class="form-group">
                        <%= f.submit "Ingresar", :class => "btn btn-primary" %>
                    </div>            
                <% end %>
            </div>
        </div>
    
    </div>
</div>

<% end %>

