<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Home Agency</title>

    <meta content="" name="descriptison">
    <meta content="" name="keywords">

     <%= yield :head %>

     <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha512-aEe/ZxePawj0+G2R+AaIxgrQuKT68I28qh+wgLrcAJOz3rxCP+TwrK5SPN+E5I+1IQjNtcfvb96HDagwrKRdBw==" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha512-GDey37RZAxFkpFeJorEUwNoIbkTwsyC736KNSYucu1WJWFK9qTdzYub8ATxktr6Dwke7nbFaioypzbDOQykoRg==" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.filestyle/1.1.0/js/bootstrap-filestyle.min.js"> </script>

 

  </head>
  <body>
  
  <!-- ======= Header/Navbar ======= -->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="/">Home<span class="color-b">Agency</span></a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Inicio</a>  
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/aboutus">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/proyectos">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/citations/new">Reservar Cita</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactos/new">Contacto</a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              V
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/citations">Lista de Citas</a>
              <a class="dropdown-item" href="/static/proforma">Proforma</a>
              <a class="dropdown-item" href="/static/separardepartamento">Separar Departamento</a>
              <a class="dropdown-item" href="/proyectos">Admin Proyectos</a>              
              <a class="dropdown-item" href="/venta/new">Registro de Venta</a>
              <a class="dropdown-item" href="/bloqueos">Bloqueos</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/faq">Acceder</a>
          </li>
        </ul>
      </div>
      
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item">
            <span>Bienvenido <%= @current_usuario.nombres %></span>
          </li>
          <li class="nav-item">
            <%= link_to logout_path, method: :delete do %> 
              <span>Salir</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav><!-- End Header/Navbar -->






  <!-- probando otro nav
    <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">  
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button> 
      <a class="navbar-brand text-brand" href="/">Home<span class="color-b">Agency</span></a> 
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>     
      <a class="navbar-brand mr-auto mr-lg-0" href="/">INICIO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-brand mr-auto mr-lg-0" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/static/aboutus">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/contactus">CONTÁCTENOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/proyectos">PROYECTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/faq">ACCEDER</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/static/busquedacitas">BUSQUEDA DE CITAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/proforma">PROFORMA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="static/separardepartamento">SEPARAR DEPARTAMENTO</a>
          </li>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/citations">CITAS</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mas Opciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/usuarios">Adm. de Usuarios</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/static/registroVta">Registro de Venta</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/static/reporteDptos">Listado de Dptos.</a>
            </div>
          </li>

        </ul>
        
      </div>
    </div>
    </nav>    

-->
    <div class="container">
      <%= yield :intro %>
      <%= yield %>  
      <%= render "layouts/pie" %> 

    </div>
  </body>
</html>
