<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Constructora Grupo 5  - Inicio</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
   
    <!-- Favicons 
    <link rel="icon" type="image/png" href="app/assets/img/favicon.png">
    
    <!-- Google Fonts 
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    
    <!-- Vendor CSS Files 
    <link rel="stylesheet" href="app/assets/fonts/style.css">
    <link href="vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

     <!-- Template Main CSS File 
    <link href="app/assets/css/style.css" rel="stylesheet">

     <!-- Vendor JS Files 
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>
    <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>

    <!-- Template Main JS File 
    <script src="app/assets/js/main.js"></script>
    -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha512-aEe/ZxePawj0+G2R+AaIxgrQuKT68I28qh+wgLrcAJOz3rxCP+TwrK5SPN+E5I+1IQjNtcfvb96HDagwrKRdBw==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha512-GDey37RZAxFkpFeJorEUwNoIbkTwsyC736KNSYucu1WJWFK9qTdzYub8ATxktr6Dwke7nbFaioypzbDOQykoRg==" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $("#datetime").datetimepicker({
          format: 'yyyy-mm-dd hh:ii',
          autoclose: true,
          todayBtn: true
      });
      </script>



    <%= yield :head %>

  </head>
  <body bgcolor="blue">
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">       
      <a class="navbar-brand mr-auto mr-lg-0" href="/">INICIO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/static/aboutus">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/contactus">CONTÁCTENOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/proyectos">PROYECTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/faq">ACCEDER</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/static/busquedacitas">BUSQUEDA DE CITAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/proforma">PROFORMA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="static/separardepartamento">SEPARAR DEPARTAMENTO</a>
          </li>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/citations">CITAS</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mas Opciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/usuarios">Adm. de Usuarios</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/static/registroVta">Registro de Venta</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/static/reporteDptos">Listado de Dptos.</a>
            </div>
          </li>

        </ul>
        
      </div>
    </div>
    </nav>    
    
    <div class="container">
      <%= yield :intro %>
      <%= yield %>  

      <%= render "layouts/pie" %>
  

  </div>
  </body>
</html>
