<!DOCTYPE html>
<html>
  <head>
    <%= yield :head %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          var forms = document.getElementsByClassName('needs-validation');
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event){
              if(form.checkValidity() == false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false)
          });
        }, false)
      })();
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
      <a class="navbar-brand mr-auto mr-lg-0" href="/">INICIO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/static/aboutus">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/contactus">CONTÁCTENOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/services">PROYECTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/faq">ACCEDER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/alumnos">OTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/busquedacitas">BUSQUEDA DE CITAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/proforma">PROFORMA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/separardepartamento">SEPARAR DEPARTAMENTO</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/static/detalledepartamento">DETALLES DEPARTAMENTO</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/cita">CITAS</a>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>    
    <div class="container">
      <div class="row">
        <div class="col-9">
          <%= yield :intro %>
          <%= yield %>
          <!-- <%= render partial: 'static/menu' %> -->
        </div>
        
        <div class="col-3">
          <br>
          <ul class="list-group">
            <li class="list-group-item">Opcion Lateral 1</li>
            <li class="list-group-item">Opcion Lateral 2</li>
            <li class="list-group-item">Opcion Lateral 3</li>
            <li class="list-group-item">Opcion Lateral 4</li>
            <li class="list-group-item">Opcion Lateral 5</li>
          </ul>
        </div>

      </div>
    </div>

    
  </body>


</html>
